<!-- Bolierplate -->
<%- layout('layouts/boilerplate') %>

<main>
  <div class="container mt-5">

    <!--Section: Products v.3-->
    <section class="text-center mb-4">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <% products.forEach( prod=> { %>
          <%- include('./partials/producto' ,{prod}) %>

            <% } ) %>
      </div>
      <!--Grid row-->
    </section>
  </div>

<!-- Perfil -->
<%- include('secctions/about.ejs') %>
<!-- Products -->
<%- include('secctions/products.ejs') %>

  <!-- <section class="bg-black">
    <div class="flex flex-col items-center px-6 py-8 mx-auto">
        <div class="w-full bg-white rounded-lg">
            <div class="p6 space-y-4">
                <h1>Crear cuentas</h1>
            </div>
        </div>
    </div>
  </section> -->