<!-- inicio del nav -->
<header>
    <a href="/" class="logo"><img src="images/logofavicon11.png" alt="logo_departamentos_mar_del_plata"></i></i> Departamentos</a>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="/">Inicio</a></li>
            <li><a href="#about">Perfil</a></li>
            <li><a href="#skills">Habilidades</a></li>
            <li><a href="#education">Educacion</a></li>
            <li><a href="#work">Proyectos</a></li>
            <li><a href="#experience">Experiencias</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        <ul>
            <li>
                <a <%= locals.active == 'products' ? 'active':'' %> href="/products">Productos</a>
                <% if (locals.active=='products' ) { %>

                    <span class="sr-only">(current)</span>
                    <% } %>
            </li>
            <% if (locals.userFound) { %> <!--si hay usuario .. -->
                <li <%= locals.active == 'profile' ? 'active':'' %>>
                    <a href="/profile">Mi Cuenta </a>
                </li>
                <li>
                    <form action="/logout" method="POST">
                        <button class="btn-link btn py-2 px-3 m-0 nav-link waves-effect"><i
                                class="fas fa-sign-out-alt"></i></button>
                    </form>
                </li>
                <% } else { %>
                    <li>
                        <a href="/login">Ingreso</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register">Registro</a>
                    </li>
                    <% } %>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect mr-2 pr-4" href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="clearfix d-none d-sm-inline-block"> Carrito </span>
                    <span class="badge red z-depth-1 mr-1 cart-number">0</span>
                </a>
            </li>
        </ul>
    </div>
    </nav>
</header>

