<!-- Inicio de seccion PERFIL -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> Perfil <span>DoriAss</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="images/favicon2.png" alt="">
        </div>
        <div class="content">
            <h3>Alquiler & Ventas </h3>
            <span class="tag">Departamentos Mar del Plata</span>
            <p>Alquilá y vende al instante, con la mejor eficacia, sin requisitos y todos los medios de pagos.
                Temporada, contratos, inmobiliarias y dueño directo. Aprovecha ya!
            </p>

            <div class="box-container">
            <div class="box">
                <p><span> Años: </span> 24</p>
                <p><span> Celular : </span> <a href="tel:+541141761096">
                        +54 (11) 4176-1096
                    </a></p>
            </div>
                <div class="box">
                    <p><span> Email : </span><a href="mailto:doriass.f@gmail.com">
                            doriass.f@gmail.com
                    </a></p>
                    <p><span> Lugar : </span> Mar del Plata, Provincia de Buenos Aires - B7600FYA</p>
                </div>
            </div>
            <!-- BTN descarga de CV -->
            <div class="resumebtn">
                <a href="/download/Curriculum-Federico-Dorigatti.pdf" class="btn"
                    download="/cv/Curriculum-Federico-Dorigatti.pdf"><span>Descargar CV</span>
                <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- Fin de seccion PERFIL -->