<!-- Inicio de saccion de Prooyectos-->
<section class="work" id="work">

    <h2 class="heading"><i class="far fa-building"></i> Alquiler de <span>Departamentos</span></h2>

    <!-- <div class="box-container">
         for(let i=0; i < 6; i++) { 
            <div class="box tilt">
                <img draggable="false" src="projects[i].image" alt="Project Image" />
                <div class="content">
                    <div class="tag">
                        <h3>
                            <projects[i].name
                        </h3>
                    </div>
                    <div class="desc">
                        <p>
                            <projects[i].desc
                        </p>
                        <div class="btns">
                            <a href="<projects[i].links.view" class="btn" target="_blank"><i
                                    class="fas fa-eye"></i>
                                Ver</a>
                            <a href="<projects[i].links.code%>" class="btn" target="_blank">Codigo <i
                                    class="fas fa-code"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             } %>

    </div> -->

    <div class="viewall">
        <a href="/project" class="btn"><span>Ver Mas</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</section>
<!-- Fin de seccion PROYECTOS -->